@charset "UTF-8";
body.light {
  background-color: rgba(255, 255, 255, 0.87);
  color: #000;
  border-color: #000;
}
body.light .imagen-1::before {
  background-image: url(../assets/img/light/phone.svg);
}
body.light .imagen-2::before {
  background-image: url(../assets/img/light/mail.svg);
}
body.light .imagen-3::before {
  background-image: url(../assets/img/light/web.svg);
}

body.dark {
  background-color: #15181f;
  color: rgba(255, 255, 255, 0.87);
  border-color: rgba(255, 255, 255, 0.87);
}
body.dark .imagen-1::before {
  background-image: url(../assets/img/dark/phone.svg);
}
body.dark .imagen-2::before {
  background-image: url(../assets/img/dark/mail.svg);
}
body.dark .imagen-3::before {
  background-image: url(../assets/img/dark/web.svg);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
  background-color: rgba(255, 255, 255, 0.87);
  color: rgb(25.5, 25.5, 25.5);
  width: 100%;
  height: 100%;
}
body.dark {
  background-color: rgb(41.5961538462, 47.5384615385, 61.4038461538);
}
body.dark {
  color: rgba(255, 255, 255, 0.87);
}

/* BANNER */
.banner {
  display: flex;
  padding: 20px;
  position: relative;
}

/* LINEA INFERIOR DEL BANNER */
.banner::after {
  content: "";
  display: block;
  position: absolute;
  width: 90%; /* Ancho de la línea */
  height: 2px; /* Altura de la línea */
  background-color: #000;
  margin: 0 auto; /* Centra la línea horizontalmente */
  bottom: 0; /* Posiciona la línea en la parte inferior del div */
  left: 0;
  right: 0;
}

body.dark .banner::after {
  background-color: rgba(255, 255, 255, 0.87); /* Color de la línea en tema oscuro */
}

/* IMAGEN DEL BANNER  */
.image {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 60%;
  height: 90%;
  border-radius: 50%;
  padding: 5px;
  background-color: #000;
}

body.dark img {
  background-color: rgba(255, 255, 255, 0.87);
}

/* TEXTO DE BANNER */
.bannerText {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 0;
}

.title h2 {
  font-size: 3rem;
  font-weight: 100;
  margin-top: 0;
}

.contact {
  padding: 20px;
  font-weight: 300;
}

.contact p {
  margin-bottom: 30px;
}

.contact a {
  color: #000;
}

body.dark .contact a {
  color: rgba(255, 255, 255, 0.87); /* Color de los enlaces en tema oscuro */
}

.con-imagen {
  position: relative;
  padding-left: 40px; /* Espacio para la imagen */
}

.con-imagen::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* Centra la imagen verticalmente */
  width: 30px; /* Ancho de la imagen */
  height: 30px; /* Altura de la imagen */
  background-size: cover; /* Ajusta la imagen para cubrir el área */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  margin-right: 10px;
}

/* Imagen 1 */
.imagen-1::before {
  background-image: url("../assets/img/light/phone.svg");
}

/* Imagen 2 */
.imagen-2::before {
  background-image: url("../assets/img/light/mail.svg");
}

/* Imagen 3 */
.imagen-3::before {
  background-image: url("../assets/img/light/web.svg");
}

/* CONTENIDO */
.info {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

/* PRIMER DIV DE JENGUAJES */
.contanier1 {
  flex: 1;
  position: relative;
  padding: 80px;
}

/* LINEA QUE SEPARA LOS DOS DIV */
.contanier1::after {
  content: "";
  position: absolute;
  right: 0;
  top: 15%; /* Ajusta la posición desde la parte superior */
  height: 80%; /* Ajusta la altura de la línea */
  width: 2px;
  background-color: #000;
}

body.dark .contanier1::after {
  background-color: rgba(255, 255, 255, 0.87); /* Color de la línea en tema oscuro */
}

/* CONTENIDO DEL PRIMER DIV */
.contanier1 h2 {
  font-weight: 200;
}

/* SEGUNDO DIV DE PERFIL PROFESIONAL */
.contanier2 {
  flex: 3;
  padding: 80px;
}

.contanier2 h2 {
  font-weight: 200;
  margin-bottom: 0;
}

.contanier2 h3, .educacion h3 {
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
}

.contanier2 p, .educacion p {
  margin-top: 0;
  margin-bottom: 0;
}

.educacion {
  display: none;
}

.experiencia {
  display: flex;
  justify-content: space-between;
}

/* BOTON DEL TEMA OSCURO Y TEMA CLARO */
.toggle-theme {
  position: fixed;
  bottom: 20px; /* Distancia desde la parte inferior de la pantalla */
  right: 20px; /* Distancia desde el lado derecho de la pantalla */
  background-color: #000; /* Color de fondo */
  color: rgba(255, 255, 255, 0.87); /* Color del texto */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

body.dark .toggle-theme {
  background-color: rgba(255, 255, 255, 0.87); /* Color de fondo para el modo oscuro */
  color: #15181f;
}

.toggle-theme .fa-sun,
.toggle-theme .fa-moon {
  font-size: 20px;
}

@media (max-width: 450px) {
  .image {
    display: none;
  }
  .banner {
    height: auto; /* Ajusta la altura del banner en pantallas pequeñas */
  }
  .title h1 {
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 0;
  }
  .title h2 {
    font-size: 2rem;
    font-weight: 0;
    margin-top: 0;
  }
  .contact p {
    margin-bottom: 0px;
  }
  .contanier2 {
    display: none;
  }
  .contanier1 {
    padding: 30px;
    display: flex;
  }
  .lenguajes {
    flex: 1;
    position: relative;
  }
  .educacion {
    flex: 1;
    display: block;
  }
  .lenguajes::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 6%; /* Ajusta la posición desde la parte superior */
    height: 80%; /* Ajusta la altura de la línea */
    width: 2px;
    background-color: #000;
  }
  body.dark .lenguajes::after {
    background-color: rgba(255, 255, 255, 0.87); /* Color de la línea en tema oscuro */
  }
  .herramientas {
    display: none;
  }
  .contanier1::after {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
